h4{
    font-family: 'Roboto',normal;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #FAB62F;
}
h6{
    font-family: 'Roboto',normal;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}
button{
    background: #FAB62F;
    color: white;
    border: none;
}
input:focus{
    border: 2px solid #FAB62F;
}

@media screen and (max-width: 575px){
    input{
        border-radius: 6px;
    }
    input:focus{
        border-radius: 6px;
        border: 2px solid #FAB62F;
    }
}
.yellow{
    color: #FAB62F;
    text-align: left;
}