.banner{
    background-image: url('../../component/assets/about.jpg');
    background-size: cover;
    height: 300px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hateds div{
    background-color: black !important;
}
.card-body{
    color: white !important;
}

.card{
    border: 1px solid white;
}
