.banner{
    background-image: url('../../component/assets/about.jpg');
    background-size: cover;
    height: 300px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:focus{
outline: none;
}
.btn:focus{
    outline: none;
    border: none;
}
.small-box{
    height: 23px;
    width: 23px;
    background-color: #855CF8;
}
.drops{
    position: absolute;
    z-index: 99;
    font-size: 14px;
    background-color: #F9F9F9;
}
.dropdowns button{
    color: white;
}
.dropdowns button:hover{
    color: white;
}
.boxes{
    transform: rotate(180deg);
}
.value{
    transform: rotate(180deg);   
}
.boxe1{
    height: 96px;
width: 41px;
background:grey;
}
.boxe2{
    height: 190px;
width: 41px;

background:grey;
}
.boxe3{
    height: 146px;
width: 41px;

background:grey;
}
.boxe4{
    height: 174px;
    width: 41px;
    background:grey;
}
.boxe5{
    height: 184px;
width: 41px;

background:grey;
}
.boxe6{
    height: 122px;
width: 41px;
background:grey;
}
.boxe7{
    height: 152px;
    width: 41px;
    background:grey;
}
.boxe8{
    height: 168px;
width: 41px;
background:grey;
}
.boxe9{
    height: 101px;
width: 41px;
background: #855CF8;
}