.footer{
    overflow: hidden;
}
.sprt-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 214px;
    background-color: #FAB62F;
    
}
.support{
    font-family: 'Roboto',normal;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.donate{
    background-color: #FAB62F;
    border: 1px solid white;
    height: 64px;
    width: 230px;
    color: white;
    font-family: 'Roboto',normal;
    font-size: 20px;
}
.donate:hover{
    border: 1px solid white;
}
.donate-btn :focus{
    border: 1px solid white;
}
.donate-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.down-footer{
    height:330px;
    display: flex;
    flex-direction: row;
}
.footerlogo{
    display: flex;
    flex-direction: column;
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.footerlogo{
    padding-left: 4.9rem !important;
}
.footermainlogo{
    display: flex;
    justify-content: flex-start;
}
.footersublogo{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-left: 180px;
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}
.tags{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: auto;
    width: 30%;
    padding-right: 4.9rem !important;
}
.first-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
}
.singletag{
    margin-right: 5rem !important;
    white-space: nowrap;
}
.tags a{
    font-family: 'Roboto',normal;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #fff;
    border-right: none;
}
.subtag{
    display:flex;
    flex-direction: column;
}
.subtag a{
font-family: 'Roboto',normal;
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
}
.endfooter{
    border-top: 1px solid  rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}
.copy{
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
    padding-left: 4.9rem !important;


}
.follow{
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    flex-direction: row;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: right;
    padding-right: 4.9rem !important;

}
.follow span{
    margin-right: 10px;
}
.social{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.social img :first-child{
    margin-left: 10px;
}
@media screen and (min-width: 575px) {
    .down-mob-footer{
        display: none !important;
    }
}
@media screen and (max-width: 575px) {
    .downfooter{
        display: none;
    }
    .sprt-footer{
        display: flex;
    }
    .sprt-btn{
        display: flex;
        justify-content: center;
    }
    .support{
        font-size: 28px !important;
        display: flex;
        justify-content: center;
    }
}